# macOS artifacts
.DS_Store

# Python cache
__pycache__/
*.pyc

# Virtualenvs
.venv/

# PlatformIO build artifacts
firmware/teensy_led_panel/.pio/

# Runtime data artifacts
/data/*
!/data/.gitkeep

# Logs
*.log
